<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327892485280-gqfhru71humnqfkdmd9tmhv7aram09jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327892485280-gqfhru71humnqfkdmd9tmhv7aram09jt</string>
	<key>API_KEY</key>
	<string>AIzaSyB6FOIb425RBfe_IdL3PXvlf0g0xqPMFt0</string>
	<key>GCM_SENDER_ID</key>
	<string>327892485280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OmarTorres.SoccerTracker</string>
	<key>PROJECT_ID</key>
	<string>soccertracker-33d03</string>
	<key>STORAGE_BUCKET</key>
	<string>soccertracker-33d03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327892485280:ios:0e1c754c8c19e7f8</string>
	<key>DATABASE_URL</key>
	<string>https://soccertracker-33d03.firebaseio.com</string>
</dict>
</plist>